<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Title</title>
</head>
<body>
    <div id="app">
        <h1>Список задач</h1>
        <div>Осталось сделать задач: <span class="counter">2</span></div>
        <div class="list">
            <div class="item" v-bind:class="{done : isDone}" v-for="item in todos">
                <input type="checkbox" v-bind:checked="isChecked">
                {{ item }}
            </div>
        </div>
        <div class="form">
            <input v-bind:placeholder="message">
            <button v-bind:type="buttonType" v-bind:disabled="isDisabled">Добавить</button>
        </div>
    </div>

    <div id="app-2">
      <span v-bind:title="message">
        Наведи на меня курсор на пару секунд,
        чтобы увидеть динамически связанное значение title!
      </span>
    </div>

    <div id="app-3">
        <span v-if="seen">Сейчас меня видно</span>
    </div>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Перевернуть сообщение</button>
    </div>


    <div id="app6">
        <ol>
            <todo-item v-for='item in nvmList' v-bind:todo="item" v-bind:key="item.id"></todo-item>
        </ol>
    </div>

    <script src="index.js"></script>
</body>
</html>
